html, body {
	width: 100%;
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#map {
	height: 800px;
}

#legend {
	height: 100%;
	overflow: auto;
}

.leaflet-control-layers label input {
	margin-bottom: 2px;
}
.leaflet-control-layers label span {
	vertical-align: text-top;
}

.leaflet-popup-content {
	overflow: auto;
	max-height: 300px;
}

.weather-icon {
	text-align: center;
	vertical-align: middle;
	
}

.weather-data {
	border-radius: 4px;
	padding: 0px;
	margin: 0px;
	font-size: x-small;
	color: #000;
	font-weight: bold;
	line-height: 25px;
	height: 25px;
}